[submodule "ext/rtmpdump"]
	path = ext/rtmpdump
	url = git://github.com/andoma/rtmpdump.git
[submodule "ext/libntfs_ext"]
	path = ext/libntfs_ext
	url = https://github.com/andoma/libntfs_ext.git
[submodule "ext/gumbo-parser"]
	path = ext/gumbo-parser
	url = https://github.com/google/gumbo-parser
[submodule "ext/vmir"]
	path = ext/vmir
	url = https://github.com/andoma/vmir
